.highlight-container {
  position: relative;
  background-color: highlight-background;
}
.highlight-container.on .highlight-footer {
  display: none;
}
.highlight-container.on .hide-btn {
  display: flex;
}
.highlight-container.on .highlight-wrap {
  max-height: none;
}
.highlight-container .highlight-wrap {
  overflow: hidden;
  max-height: 508px;
}
.highlight-container .highlight-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0) 0%, highlight-background 65%);
  text-align: center;
}
.highlight-container .show-btn {
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  line-height: 2em;
  text-decoration: none;
  padding: 0 0.8em;
  text-align: center;
  border-radius: 4px 4px 0;
}
.highlight-container .show-btn:hover {
  text-decoration: none;
}
.highlight-container .hide-btn {
  color: #fff;
  font-size: 20px;
  width: 28px;
  position: absolute;
  left: -28px;
  top: 0;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  display: none;
  flex-direction: column;
  background-color: highlight-background;
  border-radius: 4px 0 0 4px;
  padding: 0.1em 0 0.6em;
  transition: top ease 0.35s;
}
.highlight-container .fa-angle-up,
.highlight-container .fa-angle-down {
  font-style: normal;
  color: #fff;
}
.highlight-container .fa-angle-up:before {
  content: "\f106";
}
.highlight-container .fa-angle-down:before {
  content: "\f107";
  margin-left: 0.5em;
}
.highlight-container .js_unfold_code_btn,
.highlight-container .js_retract_code_btn {
  background: rgba(0,0,0,0.5);
  border-bottom: none !important;
}
.highlight-container .js_unfold_code_btn:hover,
.highlight-container .js_retract_code_btn:hover {
  border-bottom-color: none !important;
}
