#端口号 默认为27017
port=27017 

##数据文件  此处=后对应到数据所存放的目录
dbpath=C:\MongoDB\Server\4.2\data\db

##日志文件  此处=后对应到日志文件所在路径
logpath=C:\MongoDB\Server\4.2\log\mongodb.log

#启用日志文件，默认启用，每次写入会记录一条操作日志（通过journal可以重新构造出写入的数据）。
journal=true 

##错误日志采用追加模式，配置这个选项后mongodb的日志会追加到现有的日志文件，而不是从新创建一个新文件
logappend=true 

#这个选项可以过滤掉一些无用的日志信息，若需要调试使用请设置为false
quiet=true 

#这样就可外部访问了，例如从win10中去连虚拟机中的MongoDB
bind_ip = 0.0.0.0